<!DOCTYPE html>
<html>
  <head>
    <meta name="go-import" content="github.com/sraphs/gdk git https://github.com/google/go-cloud">
    <meta name="go-source" content="github.com/sraphs/gdk https://github.com/google/go-cloud https://github.com/google/go-cloud/tree/master{/dir} https://github.com/google/go-cloud/tree/master{/dir}/{file}#L{line}">
    <meta http-equiv="refresh" content="0; url=https://godoc.org/github.com/sraphs/gdk{{.Page.URL | strings.TrimSuffix "/"}}">
  </head>
  <body>
    Nothing to see here; <a href="https://godoc.org/github.com/sraphs/gdk{{.Page.URL | strings.TrimSuffix "/"}}">see the package on godoc</a>.
  </body>
</html>
